#contenedor_integrantes{
   margin-top: 100px;
   padding: 40px;
   display:flex;
   flex-wrap: wrap;
   gap: 24px;
   justify-content: center;
}

.card {
   text-align: center;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
   height: 150px !important;
   object-fit:contain;
}

.card:hover {
   transform: translateY(-10px);
   box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.card-img-top {
  width: 100%;
  height: 150px; 
} 
