/* ======================
   RESET GENERAL
====================== */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* JOHANA NAV */
/* ====== HEADER ====== */
.header-nav {
    background-color: #240115;
    padding: 12px 20px;
    display: flex;
   
    border-bottom: 1px solid #b3b3b3;
}

/* ====== LOGO ====== */
/* LOGO */
.logo-navbar {
  height: 50px;
  width: auto;
}
.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* ====== CONTENEDOR DEL MENÚ ====== */
.menu-container {
    margin-top: 10px;
}

/* ====== LINKS DEL MENÚ ====== */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
    border-right: 1px solid #b3b3b3;
}

/* Último sin línea */
.nav-links a:last-child {
    border-right: none;
}

/* Hover subrayado */
.nav-links a:hover {
    border-bottom: 2px solid black;
}
/* ======================
   HERO FULL WIDTH
====================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dbceeb;
    width: 100%;
    margin: 0;
}

/* Contenedor de texto */
.hero-content {
    max-width: 60%;
}

/* Título */
.hero h1 {
    font-size: 80px;
    font-weight: bold;
    color: #333;
    margin-left: 40px;
}

/* Botón */
.hero-btn {
    padding: 12px 25px;
    background: #240115;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 40px;
}

/* Imagen del hero */
.hero-img {
    height: 500px;
    object-fit: contain;
}
/* Se marca cuando se seleccione */
.producto.seleccionado {
  border: 3px solid #f1c40f;
  background: #fff8d5;
}

/* Caja de seleccionados */
.zona-seleccionados {
  margin: 30px 0;
  padding: 15px;
  border: 2px solid #ccc;
  background: #f9f9f9;
  min-height: 150px;
}
