/* ======================
   RESET GENERAL
====================== */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* JOHANA NAV */
/* ====== HEADER ====== */
.header-nav {
    background-color: #240115;
    padding: 12px 20px;
    display: flex;

    border-bottom: 1px solid #b3b3b3;
}

/* ====== LOGO ====== */
/* LOGO */
.logo-navbar {
    height: 90px;
    width: auto;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* ====== CONTENEDOR DEL MENÚ ====== */
.menu-container {
    margin-top: 10px;
}

/* ====== LINKS DEL MENÚ ====== */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
    border-right: 1px solid #b3b3b3;
}

/* Último sin línea */
.nav-links a:last-child {
    border-right: none;
}

/* Hover subrayado */
.nav-links a:hover {
    border-bottom: 2px solid black;
}

/* Saludo cliente */
#saludo {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

/* Botón cerrar sesión */
#btn_cerrar_sesion {
    background-color: #9F838C;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#btn_cerrar_sesion:hover {
    background-color: #591c32;
    color: #f5f5f5;
}

/* ======================
   HERO FULL WIDTH
====================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dbceeb;
    width: 100%;
    margin: 0;
}

/* Contenedor de texto */
.hero-content {
    max-width: 60%;
}

/* Título */
.hero h1 {
    font-size: 80px;
    font-weight: bold;
    color: #333;
    margin-left: 40px;
}

/* Botón */
.hero-btn {
    padding: 12px 25px;
    background: #240115;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 40px;
}

/* Imagen del hero */
.hero-img {
    height: 500px;
    object-fit: contain;
}

/* Se marca cuando se seleccione */
.producto.seleccionado {
    border: 3px solid #f1c40f;
    background: #fff8d5;
}

/* Caja de seleccionados */
.zona-seleccionados {
    margin: 30px 0;
    padding: 15px;
    border: 2px solid #ccc;
    background: #f9f9f9;
    min-height: 150px;
}

/* === CAROUSEL EVENTOS ===*/

#carouselExampleInterval {
    margin: 40px 0;
}

.carousel-image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel-image-container img {
    height: 100%;
    object-fit: cover;
}

#carouselExampleInterval .carousel-control-prev {
    left: -10px;
}


#carouselExampleInterval .carousel-control-next {
    right: -10px;
}

.carousel-control-prev-icon {
    filter: invert(100%);
}

.carousel-control-next-icon {
    filter: invert(100%);
}

/* CALIFICAR TIENDA */
.card {
    width: 420px;
    margin: 20px auto;
    border-radius: 15px;
    background: #ddd
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    background: #ddd
}

.star {
    font-size: 26px;
    cursor: pointer;
    color: #ccc;
    display: inline-block;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.btn-actions {
    font-size: 20px;
    cursor: pointer;
    margin-right: 12px
}

#publicar {
    font-size: 20px;
    cursor: pointer;
    margin-right: 12px;
    background: #240115;
}

#publicar:hover {
    background-color: #591c32 !important;
}

.comment {
    background: #f3f0f5;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.califica-tienda {
    background-color: #ffff;
    /* opcional, para diferenciar la sección */
}

#ultimas-calificaciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calificacion-item {
    background: #f3f0f5;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {

    /* En móviles, apilar verticalmente */
    .row.justify-content-center>.col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 95%;
        margin: 10px auto;
    }
}

/* === FOOTER ESTILO IGUAL A LA IMAGEN === */

footer {
    background-color: #240115;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer ul li:hover a {
    opacity: 0.7;
}

footer .list-inline-item a {
    font-size: 20px;
    padding: 5px;
}