//* ======================
   RESET GENERAL
====================== */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* ======================
   HEADER / NAVBAR
====================== */
.header-nav {
    background-color: #240115;
    border-bottom: 1px solid #b3b3b3;
}

/* Color real del navbar de Bootstrap */
.bg-dark-purple {
    background-color: #240115 !important;
}

/* LOGO */
.logo-navbar {
    height: 70px;
    width: auto;
}

/* LINKS DEL MENÚ */
.nav-links .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
  
}

/* Último sin línea */
.nav-links .nav-item:last-child .nav-link {
    border-right: none;
}

/* Hover subrayado */
.nav-links .nav-link:hover {
    border-bottom: 2px solid black;
}

/* ======================
   HERO FULL WIDTH
====================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dbceeb;
    width: 100%;
    margin: 0;
}

/* Contenedor de texto */
.hero-content {
    max-width: 60%;
}

/* Título */
.hero h1 {
    font-size: 80px;
    font-weight: bold;
    color: #333;
    margin-left: 40px;
}

/* Botón */
.hero-btn {
    padding: 12px 25px;
    background: #240115;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 40px;
}

/* Imagen del hero */
.hero-img {
    height: 500px;
    object-fit: contain;
}
