body {
    background-color: #f5f5f5;
}

.like-btn {
    cursor: pointer;
    transition: 0.3s;
}

.like-btn.liked {
    color: red;
}

.card img {
    height: 200px;
    object-fit: cover;

}

/* JOHANA NAV */
/* ====== HEADER ====== */
.header-nav {
    background-color: #240115;
    padding: 12px 20px;
    display: flex;

    border-bottom: 1px solid #b3b3b3;
}

/* ====== LOGO ====== */
/* LOGO */
.logo-navbar {
    height: 50px;
    width: auto;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* ====== CONTENEDOR DEL MENÚ ====== */
.menu-container {
    margin-top: 10px;
}

/* ====== LINKS DEL MENÚ ====== */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
    border-right: 1px solid #b3b3b3;
}

/* Último sin línea */
.nav-links a:last-child {
    border-right: none;
}

/* Hover subrayado */
.nav-links a:hover {
    border-bottom: 2px solid black;
}

/* Saludo cliente */
#saludo {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

/* Botón cerrar sesión */
#btn_cerrar_sesion {
    background-color: #9F838C;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#btn_cerrar_sesion:hover {
    background-color: #591c32;
    color: #f5f5f5;
}

/* PERFIL CLIENTE */

.perfil-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    max-width: 1400px;
    margin: 3rem auto;
    padding: 0 2rem;
}

/* Cards */
.perfil,
.direccion,
.carrito {
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Titulos cards */
.perfil h1,
.direccion h1,
.carrito h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #bcb6b6;
    padding-bottom: 0.5rem;
}

/* Perfil */
.info_perfil dl {
    margin-bottom: 1rem;
}

.info_perfil dt {
    font-weight: 600;
    margin-top: 0.75rem;
}

.info_perfil dd {
    margin-left: 0;
    color: #555;
}

/* Formulario dirección */
#formDireccion {
    display: flex;
    flex-direction: column;
}

#formDireccion label {
    font-weight: 600;
    margin-bottom: 0.3rem;
}

#formDireccion input {
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 0.75rem;
}

/* Lista direccion */
#listaDirecciones {
    list-style: none;
    margin-top: 1rem;
}

#listaDirecciones li {
    background: #f4f6f9;
    padding: 0.6rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

/* Carrito */
#carritoItems {
    min-height: 80px;
}

#carritoItems .vacio {
    color: #777;
    font-style: italic;
}

.total {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
}

#errorDireccion{
    color: red;
    font-weight: bold;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0.5rem;
    background-color: #240115;
    color: white;
    font-size: 1rem;
}

.btn:hover {
    opacity: 0.9;
    background-color: #591c32;
    color: white;
}

#formDireccion .btn {
    width: auto;
    align-self: flex-start;
}


/* === FOOTER ESTILO IGUAL A LA IMAGEN === */

footer {
    background-color: #240115;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

vv footer ul li:hover a {
    opacity: 0.7;
}

footer .list-inline-item a {
    font-size: 20px;
    padding: 5px;
}

/* Línea separadora */
footer hr {
    border-color: #333;
    width: 90%;
    margin: 25px auto;
}

.post {
    background-color: #9F838C;
}

.post:hover {
    background-color: #591c32;
    color: #f5f5f5;
}

.create {
    background-color: #591c32 !important;
}

.editar {
    font-size: 20px;
    margin-top: 15px;
    background-color: #240115;
    color: WHITE;
}

.editar:hover {
    background-color: #591c32;
    color: WHITE;
}

.eliminar {
    background-color: #591c32;
    color: white;
}

.eliminar:hover {
    background-color: #240115;
    color: WHITE;

}