/* JOHANA NAV */
/* ====== HEADER ====== */
.header-nav {
    background-color: #240115;
    padding: 12px 20px;
    display: flex;
   
    border-bottom: 1px solid #b3b3b3;
}

/* ====== LOGO ====== */
/* LOGO */
.logo-navbar {
  height: 50px;
  width: auto;
}
.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* ====== CONTENEDOR DEL MENÚ ====== */
.menu-container {
    margin-top: 10px;
}

/* ====== LINKS DEL MENÚ ====== */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
    border-right: 1px solid #b3b3b3;
}

/* Último sin línea */
.nav-links a:last-child {
    border-right: none;
}

/* Hover subrayado */
.nav-links a:hover {
    border-bottom: 2px solid black;
}

/* Saludo cliente */
#saludo{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

/* Botón cerrar sesión */
#btn_cerrar_sesion {
    background-color: #9F838C ;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#btn_cerrar_sesion:hover {
    background-color: #591c32;
    color:#f5f5f5;
}

/* ====== CÍRCULO USUARIO ====== */
.user-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #ffffff;
    cursor: pointer;
}

/* ADRIAN */
/* Paleta */
:root {
  --periwinkle: #C9C9EE;
  --rose-quartz: #BAABBD;
  --mauvelous: #9F838C;
  --dark-purple: #240115;
}

body {
  font-family: 'Nunito Sans';
  background-color: #fafafa;
  color: #333;
}

/* Quienes somos */
.hero-section {
  background: #59233C;
}

/* Section titles */
.section-title {
  font-family: 'Karla';
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--dark-purple);
  margin-bottom: 15px;
}

/* Section text */
.section-text {
  font-size: 1.1rem;
  line-height: 1.7;
}

.vision{
  color:#ffffff
}

/* Valores */
.value-card {
  background: #591c32;
  border-radius: 10px;
}

.value-card p{
  color: whitesmoke;
}

.value-card h5{
  color:#BAABBD;
}
.bg-light-purple {
  background: #261326;
}

.bg-rose-quartz {
  background: var(--rose-quartz);
}

/* Navbar y footer */
.bg-dark-purple {
  background-color: var(--dark-purple) !important;
}

/* Equipo */
.team-card {
  background: #fff;
  border-radius: 10px;
}

.team-card .role {
  font-weight: bold;
  color: var(--dark-purple);
}

/* Cards de presentación */
#contenedor_integrantes{
   margin-top: 100px;
   padding: 40px;
   display:flex;
   flex-wrap: wrap;
   gap: 24px;
   justify-content: center;
}

.card {
   text-align: center;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
   height: 150px !important;
   object-fit:contain;
   margin-top: 10px;
}

.card:hover {
   transform: translateY(-10px);
   box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.card-img-top {
  width: 100%;
  height: 150px; 
} 

/* Fade animations */
.fade-in {
  animation: fadeIn 1.3s ease forwards;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all .8s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Keyframes */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Social icons */
.icon-social {
  width: 38px;
  transition: transform .3s;
}
.icon-social:hover {
  transform: scale(1.2);
}

.mision-img{
  max-width: 300px;
  max-height: 300px;
}

/* === FOOTER ESTILO IGUAL A LA IMAGEN === */

footer {
    background-color: #240115;   /* Fondo negro */
    color: white;             /* Texto blanco */
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}vv

footer ul li:hover a {
    opacity: 0.7;
}

footer .list-inline-item a {
    font-size: 20px;
    padding: 5px;
}

/* Línea separadora */
footer hr {
    border-color: #333;
    width: 90%;
    margin: 25px auto;
}
